header {
  background-image: linear-gradient(to bottom, #B0B0B0 50%, #818181 100%);
  padding: 7px 10px;
  background-color: #666666;
  display: block;
  height: 47px;
  line-height: 30px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #ccc;
}